@import 'root.css';
html, body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color:var(--text-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a, a:hover, a:visited, a:root{
    text-decoration: none;
    color: var(--text-color-listing)
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
main h1{
    flex-basis: 100%;
}
.offert{
    flex-basis: 40%;
    display: flex;
    flex-direction: row;

    font-size: 150%;
    margin: 25px 0;
    transition: box-shadow 1s;
    /* border-radius: 15px; */
}
.offert:hover{
    box-shadow: 5px 5px 22px 12px var(--hover-color);
}
nav a{
    transition: text-shadow 1s, color 1s;
}
nav a:hover{
    text-shadow: 0px 0px 12px var(--hover-color);
    color:var(--hover-color) !important;
}
.offert img{
    flex-basis: 25%;
    width:200px;
    height:200px;
}
.offert-listing{
    flex-basis: 75%;
    background-color: var(--background-color-listing);
    color: var(--text-color-listing);
    list-style: none;
    padding: 0 0 0 15px;
}
.text-120{
    font-size: 150%;
}
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

@media (max-width:1300px) { /* big landscape tablets, laptops, and desktops */ 
    .offert{
        flex-basis: 80%;

    }
}
@media (max-width:575px) { /* big landscape tablets, laptops, and desktops */ 
    .offert{
        font-size: 25px;
    }
    nav > a{
        display: none;
    }
    nav{
        font-size: 8px;
    }
}